<a href="https://colab.research.google.com/github/FernandaXdea/MachineLearning/blob/main/Python_para_Machine_Learning_na_Pr%C3%A1tica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Utilizando a ferramenta Replit em nuvem
[REPLIT LINK](https://replit.com/@fernandaXdea/)

###Tipos de variáveis para trabalhar com ML
######**Inteiro (int):** Representa números inteiros, como 18 ou 2002.
######**Ponto flutuante (float):** Representa números com casas decimais, como 1.75 ou 70.5.
######**String (str):** Representa texto, como "Fernanda" ou "Brasília".
######**Booleano (bool):**Representa valores lógicos, como True (verdadeiro) ou False (falso).
######**Lista (list):** Armazena uma coleção ordenada e mutável de itens, como [1, 2, 3] ou ["maçã", "banana"].
######**Tupla (tuple):**Armazena uma coleção ordenada e imutável de itens, como (10, 20) ou ("azul", "vermelho").
######**Dicionário (dict):** Representa pares de chave-valor, como {"nome": "Fernanda", "idade": 18}.
######**Conjunto (set):** Representa uma coleção de itens únicos, como {1, 2, 3} ou {"a", "b", "c"}.

In [3]:
# Inteiro
idade = 18
ano = int(2002)

# Ponto flutuante
altura = 1.75
peso = float(70.5)

# String
nome = "Fernanda"
cidade = str("Brasília")

# Booleano
estudando = True
trabalhando = bool(False)

# Lista
frutas = ["maçã", "banana", "laranja"]
numeros = list([1, 2, 3, 4, 5])

# Tupla
coordenadas = (10, 20)
cores = tuple(("azul", "vermelho", "verde"))

# Dicionário
pessoa = {"nome": "Fernanda", "idade": 18}
produto = dict(nome="Notebook", preco=4500)

# Conjunto
numeros_unicos = {1, 2, 3, 4}
letras = set(["a", "b", "c", "a"])

# Exibindo os tipos
print("Tipos das variáveis:")
print(type(idade))           # <class 'int'>
print(type(altura))          # <class 'float'>
print(type(nome))            # <class 'str'>
print(type(estudando))       # <class 'bool'>
print(type(frutas))          # <class 'list'>
print(type(coordenadas))

Tipos das variáveis:
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>